@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    
    


<script type="text/javascript">
    $(function() {
        $("#txtCustomer").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: '/AJAX/AutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        response($.map(data,
                            function(item) {
                                return item;
                            }))
                    },
                    error: function(response) {
                        alert(response.responseText);
                    },
                    failure: function(response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function(e, i) {
                $("#hfCustomer").val(i.item.val);
            },
            minLength: 1
        });
    });
</script>
@using (Html.BeginForm("Index", "AJAX", FormMethod.Post))
{
    <input type="text" id="txtCustomer" name="CustomerName"/>
    <input type="hidden" id="hfCustomer" name="CustomerId"/>
    <br/><br/>
    <input type="submit" id="btnSubmit" value="Submit"/>
    <br/><br/>
    @ViewBag.Message
}
</body>
</html>