@*@model IEnumerable<A_Hand_2.Models.AskTask>*@
@model IEnumerable<A_Hand_2.Models.ApplicationUser>

@{
    ViewBag.Title = "ShowUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowUser</h2>

@foreach (var item in Model)
{
    <p>@item.UserName</p>
    <p style="margin-left: 20px;">@item.Customer.DisplayName</p>
    foreach (var itemAskTask in item.AskTasks)
    {
        <p style="margin-left: 40px;">@item.Customer.Address1 @itemAskTask.BasicDescription</p>
        
    }
    
    
}


   
