
@model A_Hand_2.ViewModels.CascadeViewModel
@*@model IEnumerable<A_Hand_2.Models.ApplicationUser>*@

@{
    ViewBag.Title = "ShowCascade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowCascade</h2>

<ul>
    @foreach (var appUser in Model.User)

    {
        <li>@appUser.Email</li>
    }
</ul>

