@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here we have a whole load of chat about stuff!</p>

<h2>“Finding people to help”</h2>
<p>Loads of people need a little help (or a lot) from time to time and can’t always find the help they need.</p>
<p>Often these are small tasks that don’t take very long. Sometimes they are regular jobs that need doing now and again.<br/>
    It could be just giving someone a lift with something heavy, help with a computer, a domestic chore, picking up some shopping, giving someone a lift… there are so many possibilities.<br/>
    Here is an opportunity to help people out with a huge variety of tasks in different places and to be paid an agreed fair amount for your time.</p>


<h4>A wide variety of tasks, no set hours, no long term commitment, work for who you want doing what you want.></h4>
<ul>
    <li>Visit our website: www.ahand2.help</li>
    <li>Tell us who you are……….</li>
    <li>Tell us where you are and what help you are able to offer……..</li>
    <li>Tell us when you would like to offer help…….</li>


</ul>

<h4>We will connect you with people who need people….. Like you</h4>
