@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    22 Acacia Avenue<br/>
    South Island Community Asylum<br/>
    Somewhere on the<br/>
    Isle of Weight<br/>
    <abbr title="Phone">P:</abbr>
    696969
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ahand2.help">Support@ahand2.help</a><br />
    <strong>Marketing:</strong> <a href="mailto:FlogIt2Me@aHand2.help">FlogIt2Me@ahand2.help</a>
</address>