
@{
    ViewBag.Title = "BecomeAHand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BecomeAHand</h2>

If you'd like to get involved please email us at <a href="mailto:support@ahand2.help">support@AHand2.help</a>