
@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HowItWorks</h2>

<h4 style="margin: 100px">A really simple animation that shows what the process involves will run here!</h4>
