
@{
    ViewBag.Title = "Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Testimonials</h2>

<p><h4>Andy from Ryde :</h4>“I needed some help to clear garden rubbish into a skip, it was too big a task to take on by myself and what do you google to get someone to help? It was too small a job for a landscape gardener”.</p>
<p><hr></p>

<p><h4>Tim from East Cowes :</h4>“ My Mum lives in Norfolk, she needed someone to set up a new mobile phone onto her home wireless network, I ended up driving for four hours to do it myself”</p>
<p><hr></p>
<p><h4>Roger from Yarmouth :</h4>“I had a railway sleeper in my garden to move and I couldn’t do it on my own, I just needed ten minutes of help”</p>
<p><hr></p>
<p><h4>Lisa from Ryde :</h4>“I need a one-off clean of my house from top to bottom but simply don’t have time and I don’t want a cleaner every week”</p>
<p><hr></p>

@*<h1>1 Andy from Ryde</h1>
<h2>2 Andy from Ryde</h2>
<h3>3 Andy from Ryde</h3>
<h4>4 Andy from Ryde</h4>
<h5>5 Andy from Ryde</h5>
<h6>6 Andy from Ryde</h6>*@